
body {
    color: black;
}
#introduction.card-white{
	background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin: 40px auto;
    text-align: center;
    width: 900px;
}
h2{
 color:#7ECE90;
 font-size: 20px;
 font-weight: lighter;
 font-weight: 500;
 border-radius: 4px;
}
a{
	font-family: ´Roboto´,sans-serif;
	text-decoration: none;
	font-weight: 699px;
	font-size: 16px;
}
